<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="Asset.Image.LoadingScreen" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/LoadingScreen.png"/>
        <add key="Asset.Gif.LoadingScreen" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/loader.gif"/>
        <add key="Asset.Icon.FolderBrowser" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/folderbrowser.png"/>
        <add key="Asset.Icon.Vanilla" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/vanilla.png"/>
        <add key="Asset.Icon.Forge" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/forge.png"/>
        <add key="Asset.Icon.Spigot" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/spigot.png"/>
        <add key="Asset.Icon.Unknown" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/unknown.png"/>
        <add key="Asset.Icon.Tooltip" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/tooltip.png"/>
        <add key="Asset.Icon.Refresh" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/refresh.png"/>
        <add key="Asset.Icon.App" value="https://github.com/MrKelpy/MCSMLauncher/raw/dev/assets/icon.ico"/>
        <add key="Version.App" value="1.0"/>
    </appSettings>
</configuration>

